Invoice Otomatis.json
{
  "name": "Invoice Otomatis",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Pembuatan Invoice Otomatis",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama Klien",
              "fieldName": "Nama Klien",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam Kerja",
              "fieldName": "Jam Kerja",
              "requiredField": true
            },
            {
              "fieldLabel": "Rate",
              "fieldName": "Rate",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Klien",
              "fieldName": "Email Klien",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        144,
        16
      ],
      "id": "d000ebab-337e-4206-aff1-681ba39bb0f2",
      "name": "On form submission",
      "webhookId": "19a51d7d-445a-458a-a862-a2126b7af4ab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf96b48b-39d1-4e9b-9756-e63061e3ef33",
              "name": "Total Biaya",
              "value": "={{\n(\n  parseFloat($json[\"Jam Kerja\"].replace(\",\", \".\")) *\n  parseInt($json[\"Rate\"].replace(/\\./g, \"\"))\n).toLocaleString(\"id-ID\")\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        16
      ],
      "id": "09c433c5-76a9-4854-933e-ae90e28d46ef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"id\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: Arial, Helvetica, sans-serif;\n      background: #f4f6f8;\n      padding: 40px;\n      color: #333;\n    }\n\n    .invoice-wrapper {\n      max-width: 800px;\n      margin: auto;\n      background: #ffffff;\n      border-radius: 8px;\n      padding: 40px;\n      box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n    }\n\n    .invoice-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      border-bottom: 2px solid #eaeaea;\n      padding-bottom: 20px;\n      margin-bottom: 30px;\n    }\n\n    .invoice-header h1 {\n      margin: 0;\n      font-size: 28px;\n      color: #1f2937;\n      letter-spacing: 1px;\n    }\n\n    .invoice-meta {\n      text-align: right;\n      font-size: 14px;\n      color: #555;\n    }\n\n    .section {\n      margin-bottom: 30px;\n    }\n\n    .section-title {\n      font-size: 14px;\n      font-weight: bold;\n      color: #6b7280;\n      text-transform: uppercase;\n      margin-bottom: 8px;\n    }\n\n    .client-info p {\n      margin: 4px 0;\n      font-size: 15px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n\n    table thead th {\n      background: #f9fafb;\n      border-bottom: 2px solid #e5e7eb;\n      padding: 12px;\n      text-align: left;\n      font-size: 14px;\n    }\n\n    table tbody td {\n      padding: 12px;\n      border-bottom: 1px solid #e5e7eb;\n      font-size: 14px;\n    }\n\n    table th:nth-child(2),\n    table th:nth-child(3),\n    table th:nth-child(4),\n    table td:nth-child(2),\n    table td:nth-child(3),\n    table td:nth-child(4) {\n      text-align: right;\n    }\n\n    .total-box {\n      margin-top: 30px;\n      display: flex;\n      justify-content: flex-end;\n    }\n\n    .total-box table {\n      width: 300px;\n    }\n\n    .total-box td {\n      padding: 10px;\n      font-size: 15px;\n    }\n\n    .total-box tr:last-child td {\n      font-weight: bold;\n      font-size: 18px;\n      border-top: 2px solid #111827;\n    }\n\n    .footer {\n      margin-top: 50px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n    }\n  </style>\n</head>\n\n<body>\n  <div class=\"invoice-wrapper\">\n\n    <!-- HEADER -->\n    <div class=\"invoice-header\">\n      <h1>INVOICE</h1>\n      <div class=\"invoice-meta\">\n        <div>Tanggal: {{ $now }}</div>\n        <div>Invoice #: INV-{{ $execution.id }}</div>\n      </div>\n    </div>\n\n    <!-- CLIENT INFO -->\n    <div class=\"section client-info\">\n      <div class=\"section-title\">Ditagihkan Kepada</div>\n      <p><strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong></p>\n      <p>{{ $('On form submission').item.json['Email Klien'] }}</p>\n    </div>\n\n    <!-- DETAIL TABLE -->\n    <div class=\"section\">\n      <div class=\"section-title\">Detail Pekerjaan</div>\n\n      <table>\n        <thead>\n          <tr>\n            <th>Deskripsi</th>\n            <th>Jam</th>\n            <th>Rate</th>\n            <th>Subtotal</th>\n          </tr>\n        </thead>\n        <tbody>\n          <tr>\n            <td>Jasa Pekerjaan / Konsultasi</td>\n            <td>{{ $('On form submission').item.json['Jam Kerja'] }} jam</td>\n            <td>Rp {{ $('On form submission').item.json['Rate'] }}</td>\n            <td>Rp {{ $json['Total Biaya'] }}</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n\n    <!-- TOTAL -->\n    <div class=\"total-box\">\n      <table>\n        <tr>\n          <td>Total Tagihan</td>\n          <td style=\"text-align:right;\">\n            Rp {{ $json['Total Biaya'] }}\n          </td>\n        </tr>\n      </table>\n    </div>\n\n    <!-- FOOTER -->\n    <div class=\"footer\">\n      Invoice ini dibuat secara otomatis.<br>\n      Terima kasih atas kepercayaan Anda.\n    </div>\n\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        560,
        16
      ],
      "id": "29eda5cb-159f-4dd8-aa76-6517b62d9153",
      "name": "HTML"
    },
    {
      "parameters": {
        "html_content": "={{ $json.html }}"
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        768,
        16
      ],
      "id": "46ea4bd8-bbe4-4550-938f-406d71b65d25",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "FoXN5KZxQa6yxUoK",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        16
      ],
      "id": "dc11b123-bf29-4d72-a9db-595ae266c599",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Klien'] }}",
        "subject": "=Invoice dari Cahaya Acrylic untuk {{ $('Edit Fields').item.json['Nama Klien'] }}",
        "message": "=<p>Yth. <strong>{{ $('On form submission').item.json['Nama Klien'] }}</strong>,</p>\n<p>Berikut invoice Anda.</p>\n<p>Total: Rp {{ $('Edit Fields').item.json['Total Biaya'] }}</p>\n<p>Terima kasih.</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1200,
        16
      ],
      "id": "cbab5b44-1bd7-460d-8a86-a8496a29c407",
      "name": "Send a message",
      "webhookId": "f1d64c2f-5384-4a16-b6fa-c29d84be0554",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7150fcb-b935-4139-b818-e67ed37bb1c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "tA6radbWf5xe3ewo",
  "tags": []
}