OTOMATISASI LAPORAN BULANAN.json
{
  "name": "OTOMATISASI LAPORAN BULANAN",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9a72423c-9f98-45b1-965d-42a4c75e5cc6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        -96
      ],
      "id": "69045c6e-29f7-4d3f-8f4e-6c05688edff8",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ny78hs4BGzhccPwmrsnoi56sufOocahIlRhQ7XJRfbQ",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ny78hs4BGzhccPwmrsnoi56sufOocahIlRhQ7XJRfbQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ny78hs4BGzhccPwmrsnoi56sufOocahIlRhQ7XJRfbQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -176
      ],
      "id": "0b152710-785b-4bb5-9e5b-d916905d7f50",
      "name": "Data Sheets 1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t_X8AKPxHrHE-ZpcqTVex5svsPwakznnPCTXgykB3nE",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t_X8AKPxHrHE-ZpcqTVex5svsPwakznnPCTXgykB3nE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t_X8AKPxHrHE-ZpcqTVex5svsPwakznnPCTXgykB3nE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        32
      ],
      "id": "dd637e00-9bea-4d95-a9a8-15693295d039",
      "name": "Data Sheets 2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XmVHRfz-U4Iobyu5xwX3RjfHpN3ZGW3Zr-Pst-uhZq0",
          "mode": "list",
          "cachedResultName": "Dummy Keuangan 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmVHRfz-U4Iobyu5xwX3RjfHpN3ZGW3Zr-Pst-uhZq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XmVHRfz-U4Iobyu5xwX3RjfHpN3ZGW3Zr-Pst-uhZq0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        256
      ],
      "id": "02fd5c0d-f293-4e4e-bc95-09b41ea42dca",
      "name": "Data Sheets 3 (Beda Format)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nitems.forEach(item => {\n  if (item.json && item.json['ID Laporan']) {\n    // Tambahkan kolom \"Sumber\" berdasarkan ID awal\n    if (item.json['ID Laporan'].startsWith('REP')) {\n      item.json.Sumber = 'Sheet1';\n    } else if (item.json['ID Laporan'].startsWith('LAP')) {\n      item.json.Sumber = 'Sheet2';\n    } else {\n      item.json.Sumber = 'Unknown';\n    }\n  }\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "e1cacfda-8cd3-4291-b04f-3bf9e8129ffd",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        928,
        -96
      ],
      "id": "009603d7-0e48-414f-a931-1d0acf58aaf8",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input (aman untuk semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris dari semua item\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Proses tiap baris\nallRows.forEach(row => {\n  if (typeof row === 'object' && row !== null) {\n    if (row['ID Laporan']) row['ID Laporan'] = String(row['ID Laporan']).trim();\n    if (row.Bulan) row.Bulan = String(row.Bulan).trim();\n    if (row['Kategori Produk']) row['Kategori Produk'] = String(row['Kategori Produk']).trim();\n    if (row['Nama Produk']) row['Nama Produk'] = String(row['Nama Produk']).trim();\n\n    row['Jumlah Stok'] = parseFloat(row['Jumlah Stok']) || 0;\n    row['Penjualan Harian'] = parseFloat(row['Penjualan Harian']) || 0;\n    row['Harga Satuan (IDR)'] = parseFloat(row['Harga Satuan (IDR)']) || 0;\n    row['Total Penjualan (IDR)'] = parseFloat(row['Total Penjualan (IDR)']) || 0;\n  }\n});\n\n// Kembalikan sebagai daftar item terpisah\nreturn allRows.map(row => ({ json: row }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        256
      ],
      "id": "0ca19bf8-9bda-48fc-bb2f-b2cf470fcba7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        672,
        256
      ],
      "id": "ca745942-20d2-4067-b011-a4e4d44f1f7f",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1616,
        240
      ],
      "id": "fed26ae4-e1c1-4f92-ba0a-0030e16aa855",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Laporan": "={{$json[\"ID Laporan\"]}}",
            "Bulan": "={{$json[\"Bulan\"]}}",
            "Produk": "={{$json[\"Produk\"]}}",
            "Wilayah": "={{$json[\"Wilayah\"]}}",
            "Penjualan (Unit)": "={{$json[\"Penjualan (Unit)\"]}}",
            "Target (Unit)": "={{$json[\"Target (Unit)\"]}}",
            "Pendapatan (IDR)": "={{$json[\"Pendapatan (IDR)\"]}}",
            "Status": "={{$json[\"Status\"]}}",
            "Keterangan": "={{$json[\"Keterangan\"]}}",
            "Tanggal Laporan": "={{$json[\"Tanggal Laporan\"]}}",
            "Sumber": "={{$json[\"Sumber\"]}}"
          },
          "matchingColumns": [
            "ID Laporan"
          ],
          "schema": [
            {
              "id": "ID Laporan",
              "displayName": "ID Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wilayah",
              "displayName": "Wilayah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Penjualan (Unit)",
              "displayName": "Penjualan (Unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target (Unit)",
              "displayName": "Target (Unit)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pendapatan (IDR)",
              "displayName": "Pendapatan (IDR)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keterangan",
              "displayName": "Keterangan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tanggal Laporan",
              "displayName": "Tanggal Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sumber",
              "displayName": "Sumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -96
      ],
      "id": "a8695487-6366-4ef0-81e8-a4554441dc29",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        256
      ],
      "id": "e82cc8d9-a24e-421f-a6d8-72198184ba6c",
      "name": "Menyesuaikan Header"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua input (untuk aman di semua mode)\nconst inputData = $input.all();\n\n// Ekstrak semua baris\nconst allRows = inputData.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Transformasi setiap baris\nconst transformedRows = allRows.map(row => {\n  // Gabung Kategori + Nama Produk untuk kolom \"Produk\"\n  const produk = `${row['Kategori Produk'] || ''} ${row['Nama Produk'] || ''}`.trim();\n\n  // Buat objek baru dengan format Sheet 1 & 2\n  return {\n    'ID Laporan': row['ID Laporan'] ? String(row['ID Laporan']).trim() : '',\n    'Bulan': row.Bulan ? String(row.Bulan).trim() : '',\n    'Produk': produk,\n    'Wilayah': '-', // default, bisa diisi jika ada info wilayah\n    'Penjualan (Unit)': parseFloat(row['Penjualan Harian']) || 0,\n    'Target (Unit)': 0, // default, bisa diisi jika ada target\n    'Pendapatan (IDR)': parseFloat(row['Total Penjualan (IDR)']) || 0,\n    'Status': row['Karyawan Penanggung Jawab'] ? String(row['Karyawan Penanggung Jawab']).trim() : 'Tidak Diketahui',\n    'Keterangan': row['Catatan Status'] ? String(row['Catatan Status']).trim() : '',\n    'Tanggal Laporan': row.Bulan ? `${row.Bulan} 01, ${new Date().getFullYear()}` : ''\n  };\n});\n\n// Kembalikan sebagai array item terpisah\nreturn transformedRows.map(row => ({ json: row }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        256
      ],
      "id": "bd64f4ea-8782-42b4-8ce8-238b37dbec24",
      "name": "Menambahkan Kolom Sumber 1"
    },
    {
      "parameters": {
        "jsCode": "// Ambil SEMUA input dari semua jalur\nconst allInputs = $input.all();\n\n// Gabungkan semua baris dari semua input\nconst allRows = allInputs.flatMap(item =>\n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\n// Filter hanya bulan ini\nconst now = new Date();\nconst currentMonthName = now.toLocaleString('id-ID', { month: 'long' });\nconst currentYear = now.getFullYear();\n\nconst monthlyData = allRows.filter(row => \n  String(row.Bulan || '').toLowerCase() === currentMonthName.toLowerCase()\n);\n\n// Hitung metrik\nconst totalPenjualanUnit = monthlyData.reduce((sum, r) => sum + (r['Penjualan (Unit)'] || 0), 0);\nconst totalPendapatan = monthlyData.reduce((sum, r) => sum + (r['Pendapatan (IDR)'] || 0), 0);\nconst totalLaporan = monthlyData.length;\n\n// Buat ringkasan\nconst laporan = {\n  'Bulan': currentMonthName,\n  'Tahun': currentYear,\n  'Jumlah_Laporan': totalLaporan,\n  'Total_Penjualan_Unit': totalPenjualanUnit,\n  'Total_Pendapatan_IDR': totalPendapatan,\n  'Rata_Rata_Penjualan_Per_Laporan': totalLaporan ? (totalPenjualanUnit / totalLaporan).toFixed(2) : 0,\n  'Rata_Rata_Pendapatan_Per_Laporan': totalLaporan ? (totalPendapatan / totalLaporan).toFixed(2) : 0,\n  'Sumber_Data': 'Sheet 1, Sheet 2, Sheet 3',\n  'Terakhir_Diperbarui': new Date().toISOString()\n};\n\n// Kembalikan HANYA 1 item\nreturn [{ json: laporan }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        240
      ],
      "id": "0ed853b7-527a-4e97-b305-ada7a54dd33f",
      "name": "Generate Laporan"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA",
          "mode": "list",
          "cachedResultName": "Dummy Master Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1993875706,
          "mode": "list",
          "cachedResultName": "Laporan Bulanan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ldH0dCMHqQe83NVUmXHFMQ3loJm1D9iLNmNqbAUOnfA/edit#gid=1993875706"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Bulan": "={{$json[\"Bulan\"]}}",
            "Tahun": "={{$json[\"Tahun\"]}}",
            "Jumlah_Laporan": "={{$json[\"Jumlah_Laporan\"]}}",
            "Total_Penjualan_Unit": "={{$json[\"Total_Penjualan_Unit\"]}}",
            "Total_Pendapatan_IDR": "={{$json[\"Total_Pendapatan_IDR\"]}}",
            "Rata_Rata_Penjualan_Per_Laporan": "={{$json[\"Rata_Rata_Penjualan_Per_Laporan\"]}}",
            "Rata_Rata_Pendapatan_Per_Laporan": "={{$json[\"Rata_Rata_Pendapatan_Per_Laporan\"]}}",
            "Sumber_Data": "={{$json[\"Sumber_Data\"]}}",
            "Terakhir_Diperbarui": "={{$json[\"Terakhir_Diperbarui\"]}}"
          },
          "matchingColumns": [
            "Bulan"
          ],
          "schema": [
            {
              "id": "Bulan",
              "displayName": "Bulan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tahun",
              "displayName": "Tahun",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah_Laporan",
              "displayName": "Jumlah_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Penjualan_Unit",
              "displayName": "Total_Penjualan_Unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Pendapatan_IDR",
              "displayName": "Total_Pendapatan_IDR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Penjualan_Per_Laporan",
              "displayName": "Rata_Rata_Penjualan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Rata_Rata_Pendapatan_Per_Laporan",
              "displayName": "Rata_Rata_Pendapatan_Per_Laporan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sumber_Data",
              "displayName": "Sumber_Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Terakhir_Diperbarui",
              "displayName": "Terakhir_Diperbarui",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        96
      ],
      "id": "98ab4d06-0374-4993-9029-40503b860601",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1035054823",
        "text": "=📊 *Laporan Bulanan — {{$json.Bulan}} {{$json.Tahun}}*\n\n✅ *Jumlah Laporan*: {{$json.Jumlah_Laporan}}\n📦 *Penjualan Total*: {{$json.Total_Penjualan_Unit}} unit\n💰 *Pendapatan*: Rp{{ $json.Total_Pendapatan_IDR }}\n\n📈 *Rata-rata Penjualan*: {{$json.Rata_Rata_Penjualan_Per_Laporan}} unit/laporan\n\n\n📎 [Laporan Detail](https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing)\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2080,
        320
      ],
      "id": "83e7e387-4e28-482c-b5f0-cb98c24c4a2b",
      "name": "Send a text message",
      "webhookId": "6c9db080-247d-4000-b995-d0aea99e3841",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "fari23069ti@student.nurulfikri.ac.id",
        "subject": "Laporan Bulanan n8n",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; }\n    .header { background: #0d47a1; color: white; padding: 15px; text-align: center; }\n    .content { padding: 20px; }\n    .metric { margin: 8px 0; font-weight: bold; }\n    .highlight { color: #1976d2; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h2>📊 Laporan Bulanan</h2>\n    <p>{{ $json.Bulan }} {{ $json.Tahun }}</p>\n  </div>\n  <div class=\"content\">\n    <p>Halo Tim,</p>\n    <p>Berikut ringkasan laporan bulanan dari data gabungan (Sheet 1, 2, dan 3):</p>\n    \n    <div class=\"metric\">✅ Jumlah Laporan: <span class=\"highlight\">{{ $json.Jumlah_Laporan }}</span></div>\n    <div class=\"metric\">📦 Total Penjualan: <span class=\"highlight\">{{ $json.Total_Penjualan_Unit }} unit</span></div>\n    <div class=\"metric\">💰 Total Pendapatan: <span class=\"highlight\">Rp{{ $json.Total_Pendapatan_IDR }}</span></div>\n    <div class=\"metric\">📈 Rata-rata Penjualan/Laporan: <span class=\"highlight\">{{ $json.Rata_Rata_Penjualan_Per_Laporan }} unit</span></div>\n    \n    <p>🔗 <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/d/...\">Lihat Master Sheet</a> | <a href=\"https://docs.google.com/spreadsheets/d/1XgSB7caGKoqvUDOu00fJljwLOxscyEmvxuzQWkVJiFU/edit?usp=sharing/...\">Lihat Laporan Bulanan</a></p>\n    \n   \n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2080,
        528
      ],
      "id": "fd987562-5249-431e-9306-29ebcd2795ac",
      "name": "Send a message",
      "webhookId": "50940e0a-fcac-4933-b48a-469627f5c5f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data Sheets 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheets 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Data Sheets 3 (Beda Format)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheets 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheets 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Sheets 3 (Beda Format)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Menyesuaikan Header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menyesuaikan Header": {
      "main": [
        [
          {
            "node": "Menambahkan Kolom Sumber 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menambahkan Kolom Sumber 1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Generate Laporan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Laporan": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "95b6ef45-fbc3-4746-bdcd-df8733a4ca41",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "RUVWUNFckIhfpRHS",
  "tags": []
}