PENCATAT KEUANGAN DARI EMAIL.json
{
  "name": "PENCATAT KEUANGAN DARI EMAIL",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "397fe066-459c-4cf1-b5c5-105947d4d535",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "bd8f94a0-2361-453c-96a1-aa89f5efba54",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total.*?Rp\\s*([\\d\\.]+)/s)?.[1]?.replace(/\\./g,'') || \"0\" }}",
              "type": "string"
            },
            {
              "id": "4d27e743-a7ca-42ae-b75a-8bf080b4c7c2",
              "name": "Nominal",
              "value": "Cloud",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -96
      ],
      "id": "ea796d52-2742-4a8e-808f-b6bad41aa35e",
      "name": "IDCloudHost"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27ccaf59-27f0-4b99-b6e3-f4bb86f2a168",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "58960511-e0ea-48ee-a117-bad990e2bf60",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Total\\s*Tarif.*?([\\d\\.]+)/s)?.[1]?.replace(/\\./g,'') || \"0\" }}",
              "type": "string"
            },
            {
              "id": "158e87c3-bdb0-4db7-b5e1-e06533b704a5",
              "name": "Nominal",
              "value": "Grab",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        80
      ],
      "id": "3a0f50af-65d3-4588-9429-02843c9d6c5b",
      "name": "Grab"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7efd8dbc-3a9d-4cf8-982d-d22f54befd3c",
              "name": "Tanggal",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "2e6e7300-b5a6-4407-9443-3f256b8bbdc5",
              "name": "Jumlah",
              "value": "={{ $json.textPlain.match(/Harga\\s*Rp\\s*([\\d\\.]+)/)?.[1]?.replace(/\\./g,'') || \"0\" }}",
              "type": "string"
            },
            {
              "id": "b752f78b-d8a4-41fb-bf06-669508187f3f",
              "name": "Nominal",
              "value": "={{ $json.textPlain.match(/Nominal\\s*(.*?)\\s*Waktu/s)?.[1]?.trim() || \"Tokopedia\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        256
      ],
      "id": "c9b34910-78f2-4b18-9e63-2fffb25dc836",
      "name": "Tokopedia"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        976,
        64
      ],
      "id": "b87b34e2-f33b-4ac4-8cba-8d5778f9cecc",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FSt6UBuQvAmxWyyRYepVJA6Ql9wnarW1lF83DJJ1WrA",
          "mode": "list",
          "cachedResultName": "Pencatat Keuangan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FSt6UBuQvAmxWyyRYepVJA6Ql9wnarW1lF83DJJ1WrA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FSt6UBuQvAmxWyyRYepVJA6Ql9wnarW1lF83DJJ1WrA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tanggal": "={{ $json.Tanggal }}",
            "Jumlah": "={{ $json.Jumlah }}",
            "Produk": "={{ $json.Nominal }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tanggal",
              "displayName": "Tanggal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jumlah",
              "displayName": "Jumlah",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Produk",
              "displayName": "Produk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        80
      ],
      "id": "af1ee141-f722-4b96-8274-6e0272b0374e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -48,
        80
      ],
      "id": "db699496-b58d-4dbb-a7f7-4039173cc6e8",
      "name": "IMAP",
      "credentials": {
        "imap": {
          "id": "sxWlnYRoNKxWruNk",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "imfaravi@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "f5f228c6-17dc-4a9c-a499-f13d42670b4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IDCloudHost"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7c4451f-c737-44f8-9291-e3966bc26ae6",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "devandeanova372@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Grab"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "81ca8d76-1358-49e2-a4e8-6e5211b72d05",
                    "leftValue": "={{ $json.from }}",
                    "rightValue": "xelistarisa19@gmail.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tokopedia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        64
      ],
      "id": "d19fbbc1-cc7f-4b0c-bfe7-ad42211bfa2b",
      "name": "Memeriksa Email"
    }
  ],
  "pinData": {},
  "connections": {
    "Grab": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IDCloudHost": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tokopedia": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP": {
      "main": [
        [
          {
            "node": "Memeriksa Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memeriksa Email": {
      "main": [
        [
          {
            "node": "IDCloudHost",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Grab",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tokopedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3998afd2-d2d1-4575-bf7e-b88935a28ade",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "xy4GSitssrnceWTl",
  "tags": []
}