SOP AI AGENT.json
{
  "name": "SOP AI AGENT",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4865ee57-a9b7-47bf-9ac1-47be221dea54",
      "name": "Telegram Trigger",
      "webhookId": "138c24c7-259d-4ccb-9d67-967310151148",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a583fd6-0d76-4ada-a408-7b6cc9e594bd",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1c6aa354-5740-46da-a4e3-bc890cd42177",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "75bcbc08-ab75-4fde-9722-1351b39c28b1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur perusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7062df07-c93c-4660-af8a-fb7ae7c43edc",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c9a544e6-bed8-4687-b4ba-657c5eebe62a",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "2d55f875-ca14-453c-a9eb-921d77d2e905",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1035054823",
        "text": "=Pertanyaan yang Anda kirim tidak sesuai, harap gunakan pertanyaan dibawah ini : \n1. Bagaimana prosedur reimbursement?\n2. Prosedur pengajuan cuti tahunan\n3. Bagaimana aturan lembur perusahaan?\n4. Apa syarat klaim asuransi kesehatan?\n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        304
      ],
      "id": "ca0ab4cc-260c-420a-abf2-8b0bf375169a",
      "name": "Send a text message",
      "webhookId": "d13e366f-9c55-4834-91df-14dd8a396349",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n- Anda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menajwab\n- Jawaban HARUS diambil dari hasil tool\n- DILARANG menggunakan pengetahuan umum\n- Jika data tidak ditemukan, ajwab \"Maaf, informasi tersebut tidak tersedia di SOP,\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        -144
      ],
      "id": "a3f5748b-3fbc-4bba-8516-52d9549a21d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        480,
        96
      ],
      "id": "3e2e3108-0de8-4907-bda2-bd969fb030ea",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0CVeWi2g4sE7GBfa",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1035054823",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -144
      ],
      "id": "5e99879e-c2ff-426c-9b90-332156383d0a",
      "name": "Send a text message1",
      "webhookId": "942a5bd1-eb96-4a99-a974-d714975232ec",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h6niqEG8LqFHXt-b6aPoCNxOtgU-qdyJSlBjcCKzJac",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6niqEG8LqFHXt-b6aPoCNxOtgU-qdyJSlBjcCKzJac/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h6niqEG8LqFHXt-b6aPoCNxOtgU-qdyJSlBjcCKzJac/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        80
      ],
      "id": "6c96c334-4491-4609-ae7b-922c541e37fc",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74ff60cb-46f1-41c5-bf36-5283a53d0eb8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "JlnA2NiL6Ptnhc6L",
  "tags": []
}