SUPABASE GROQ COHERE.json
{
  "name": "SUPABASE GROQ COHERE",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8057ffcf-e6ca-41aa-b295-602a42aa467a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1x0R50kgmC_BK4auOQfXOfqckl-2dD4uc"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "cae3c065-30c8-413a-8eb6-8fe7c778f9ed",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RjAwQs25uvNQPGFR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "data_supabase",
          "mode": "list",
          "cachedResultName": "data_supabase"
        },
        "embeddingBatchSize": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        400,
        0
      ],
      "id": "a9fd7f35-e919-4ad3-84c9-837045733c72",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "HNM8ggWEfBD0oZeY",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        208
      ],
      "id": "44c916f4-93cb-4e5b-8b0d-7ccabf2fda0b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi ! Ada yang bisa kami bantu?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -48,
        384
      ],
      "id": "290bccdc-7dcd-47bd-8137-b6db98f60fb4",
      "name": "When chat message received",
      "webhookId": "021e980c-eef9-4ab5-9393-5aff4dfd0420"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || $json.message || \"halo\" }}",
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas akhir (TA). Gunakan tool Supabase Vector Store untuk memberikan bantuan.\n\nJika informasi tidak tersedia dalam database yang disediakan, jangan menjawab dengan mengarang sendiri, tetapi berikan jawaban \"Maaf, saya belum dapat menjawab karena saya temukan dalam informasi yang tersedia\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        384
      ],
      "id": "964685f1-0a65-4da4-a252-e3902d4b71d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || $json.chatId || \"default-session\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        608
      ],
      "id": "69782cac-34f4-44e5-b936-81101ef5900e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "N2Llp6QHR6Xwo34D",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil Tool Supabase Vector Store ini untuk mendapatkan informasi panduan menulis bab 1 tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "data_final",
          "mode": "list",
          "cachedResultName": "data_final"
        },
        "options": {
          "queryName": "match_data_final"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        576
      ],
      "id": "89647988-14ea-4895-bf2e-d849e2ea4706",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "HNM8ggWEfBD0oZeY",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        352,
        240
      ],
      "id": "d0bc2f3a-76d0-4c4e-9f89-42ca3757875f",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "R0cjiVrUBRhC7jVN",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        336
      ],
      "id": "6c1d65f0-6329-4107-b718-a05c8d69f3f3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        704
      ],
      "id": "c86ec88c-cf15-4fec-8c0b-5d6d362e607e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0CVeWi2g4sE7GBfa",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "942986ac-0288-488e-bc4c-fb122d1c3386",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "TtE3c8NEhEMGzKpj",
  "tags": []
}