Triase Phising AI (1).json
{
  "name": "Triase Phising AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        160
      ],
      "id": "6b6c99fa-a674-454c-80ee-e1b6217bfb33",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d3e11aac-6be9-4fb0-860a-e81dfe6e1601",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcainsurance.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6495c627-f08a-4f6e-b62a-c2cd15d0e47d",
              "leftValue": "={{ $json.From }}",
              "rightValue": "haloblu@bcadigital.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "0b5ddd77-f74a-479e-a414-c57e15abe1a6",
              "leftValue": "={{ $json.From }}",
              "rightValue": "customer@bcalife.co.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c055f425-4e99-4804-bee1-bc590f0a70ff",
              "leftValue": "={{ $json.From }}",
              "rightValue": "recruitmentbcaf@bcaf.id",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7fffcb6b-fb56-400b-8e9d-325883986657",
              "leftValue": "={{ $json.From }}",
              "rightValue": "imfaravi@gmail.com",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        160
      ],
      "id": "a9ce77d8-8d5d-4192-8032-50690808e23a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "1035054823",
        "text": "=Ada email baru dari: {{ $('Gmail Trigger').item.json.From }} Subject: {{ $('Gmail Trigger').item.json.Subject }} R",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        48
      ],
      "id": "44f3b0fe-bc22-433c-8a2e-967ea74f0aec",
      "name": "Send a text message",
      "webhookId": "982d5cbf-f4fc-4742-9e81-6d567c0c9e1b",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analisis teks email ini untuk tanda-tanda phishing keuangan. Fokus pada urgensi palsu, tautan mencurigakan, permintaan info pribadi, atau peniruan identitas bank. Beri skor bahaya dari 1 sampai 10. Jawab HANYA dengan format: 'Skor: [angka]'.\\n\\nEmail:{{ $json.snippet }}  Subject:{{ $json.Subject }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        256
      ],
      "id": "c2e2a260-4a4d-4f63-8edb-bfa4516f4b8f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5f6c1e77-b75a-4953-ad9a-dd95eb256d96",
              "leftValue": "={{ $json.score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        256
      ],
      "id": "a8e0a960-7f4a-426f-892e-a9d602da1168",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8684641851787826025"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        144
      ],
      "id": "de1b3f35-54a5-4e02-80f5-ff932bc0e5dc",
      "name": "Add label to message",
      "webhookId": "56abd3e9-3277-44a2-b910-562955a4ff1e",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1035054823",
        "text": "=⚠️ Tinjauan Email Diperlukan ⚠️  Email ini TIDAK dihapus, tapi AI mendeteksinya. Mohon periksa secara manual.   \n- Skor AI: {{ $json.score }}/10  \n- Dari: {{ $('Gmail Trigger').item.json.From }} \n- Subjek: {{ $('Gmail Trigger').item.json.Subject }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        336
      ],
      "id": "ccfc5efa-74d5-4583-aa85-d5857814df53",
      "name": "Send a text message1",
      "webhookId": "9898e2f4-0411-4ae1-a6ff-f0675f923f05",
      "credentials": {
        "telegramApi": {
          "id": "2biIohnEM3m8Xyn7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        128,
        464
      ],
      "id": "ab6b6f26-d4e4-45af-9357-fb01a2a2d153",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0CVeWi2g4sE7GBfa",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ambil data dari node-node sebelumnya\n// $json.text adalah output dari Basic LLM Chain\nconst llmOutput = $json.text; \n\n// $json.id adalah Message ID yang datang dari \"Gmail Trigger\"\n// Node LLM Chain akan meneruskan data ini secara otomatis\nconst emailMessageId = $json.id; \n\n// Gunakan regex untuk menemukan \"Skor: [angka]\"\nconst match = llmOutput.match(/Skor:\\s*(\\d+)/);\n\nlet score = 0;\n\n// Jika ditemukan, ambil angkanya\nif (match && match[1]) {\n  score = parseInt(match[1], 10);\n}\n\n// Kembalikan skor DAN messageId untuk node IF dan Gmail\nreturn { \n  score: score,\n  messageId: emailMessageId \n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        256
      ],
      "id": "3c9d1204-f5a3-4da8-af53-e7e4eca05400",
      "name": "Mengekstrak Skor dari Teks"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Mengekstrak Skor dari Teks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mengekstrak Skor dari Teks": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "562fd15c-3d91-44d6-8795-b82bca7e1f0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "cKGaTQB6Xsb0jYRO",
  "tags": []
}