Workflow Pengajuan (1).json
{
  "name": "Workflow Pengajuan",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Formulir Pengajuan Cuti",
        "formDescription": "Silahkan isi detail cuti dan pastikan tanggal sesuai.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldName": "Email",
              "placeholder": "Contoh : faridacantik@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Jenis Cuti",
              "fieldType": "dropdown",
              "fieldName": "Jenis Cuti",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Cuti Tahunan"
                  },
                  {
                    "option": "Cuti Sakit"
                  },
                  {
                    "option": "Cuti Tanpa Bayaran"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Mulai",
              "fieldType": "date",
              "fieldName": "Tanggal Mulai",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Selesai",
              "fieldType": "date",
              "fieldName": "Tanggal Selesai",
              "requiredField": true
            },
            {
              "fieldLabel": "Keterangan ",
              "fieldName": "Keterangan ",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -848,
        48
      ],
      "id": "0d58dba6-7ae3-4a8b-90fd-eb39fd821166",
      "name": "Formulir Pengajuan Cuti",
      "webhookId": "a0371d6d-9bef-4856-bf1c-8a03c5eb9490"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo",
          "mode": "list",
          "cachedResultName": "Cuti_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DB_karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        48
      ],
      "id": "91411420-bd26-43ec-8559-a15162fdd443",
      "name": "Cuti Karyawan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Ambil Data dari Node Google Sheets (Input node ini)\n// Asumsi: Node Google Sheets mengembalikan 1 item (data karyawan ybs)\nconst employeeData = items[0].json;\n\n// 2. Ambil Data dari Node Form (Node sebelumnya)\n// Pastikan nama Node Form di dalam kurung $('...') SAMA PERSIS dengan nama node Anda\nconst formData = $('Formulir Pengajuan Cuti').first().json;\n\n// 3. Proses Tanggal menggunakan Luxon (LANGSUNG DIPAKAI)\n// Pastikan field di form Anda benar: \"Tanggal Mulai\" dan \"Tanggal Selesai\"\nconst start = DateTime.fromISO(formData[\"Tanggal Mulai\"]);\nconst end = DateTime.fromISO(formData[\"Tanggal Selesai\"]);\n\n// Hitung durasi (selisih hari + 1 agar inklusif)\nconst durationInDays = end.diff(start, 'days').days + 1;\n\n// 4. Logika Validasi Saldo\n// Pastikan kolom di Google Sheet bernama \"Saldo_Cuti\"\nconst currentBalance = parseInt(employeeData[\"Saldo_Cuti\"]); \nconst hasEnoughBalance = currentBalance >= durationInDays;\n\n// Generate ID Unik (Gabungan waktu + random biar tidak kembar)\nconst uniqueId = 'REQ-' + Date.now(); \n\nreturn [\n  {\n    json: {\n      ...employeeData,\n      ...formData,\n      durationRequested: durationInDays,\n      isApprovedSystem: hasEnoughBalance,\n      message: hasEnoughBalance ? \"Saldo Cukup\" : \"Saldo Tidak Cukup\",\n      requestId: uniqueId // <--- Field Baru\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        48
      ],
      "id": "41461a59-337f-4213-aff9-3aaa93dbfa2c",
      "name": "Validasi Cuti"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo",
          "mode": "list",
          "cachedResultName": "Cuti_Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2021955196,
          "mode": "list",
          "cachedResultName": "log pengajuan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v8v_MohDtUIyvi2rP_M40UAMvmSTDA8xPhrfginHgPo/edit#gid=2021955196"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID_Request": "={{ $json.requestId }}",
            "Email_Karyawan": "={{ $json.Email }}",
            "Timestamp": "={{ $json.submittedAt }}",
            "Jenis_Cuti": "={{ $json['Jenis Cuti'] }}",
            "Tanggal_Mulai": "={{ $json['Tanggal Mulai'] }}",
            "Tanggal_Selesai": "={{ $json['Tanggal Selesai'] }}",
            "Durasi": "={{ $json.durationRequested }}",
            "Alasan": "={{ $json['Keterangan '] }}",
            "Status": "=Pending"
          },
          "matchingColumns": [
            "ID_Request"
          ],
          "schema": [
            {
              "id": "ID_Request",
              "displayName": "ID_Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email_Karyawan",
              "displayName": "Email_Karyawan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jenis_Cuti",
              "displayName": "Jenis_Cuti",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Mulai",
              "displayName": "Tanggal_Mulai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tanggal_Selesai",
              "displayName": "Tanggal_Selesai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Durasi",
              "displayName": "Durasi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alasan",
              "displayName": "Alasan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        48
      ],
      "id": "93ca9136-b0ad-41ca-8a2c-3dd5ee20cf2e",
      "name": "Update sheet log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "amEVrLxfsEN3HqaB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2575060-4550-45ad-8e46-dd4adeefe9fd",
              "leftValue": "={{ $('Validasi Cuti').item.json.isApprovedSystem }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        48
      ],
      "id": "714b770a-c62c-47bd-a351-a43638af4103",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulir Pengajuan Cuti').item.json['Email'] }}",
        "subject": "Pengajuan Cuti Ditolak - Saldo Tidak Cukup",
        "message": "=Halo ,{{ $('Validasi Cuti').item.json.Nama_Lengkap }}\n\nPengajuan cuti Anda untuk tanggal {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }} s/d {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }} DITOLAK secara otomatis oleh sistem.\n\nAlasan: Sisa saldo cuti Anda ({{ $json.Saldo_Cuti }} hari) tidak mencukupi untuk pengajuan {{ $('Validasi Cuti').item.json.durationRequested }} hari.\n\nSalam,\nHR Bot\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        144
      ],
      "id": "068b0835-b094-457e-8c18-eb693fe1222b",
      "name": "Email cuti tidak cukup",
      "webhookId": "91f02ab6-4ddb-495b-9809-45d12a4bca92",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Cuti Karyawan').item.json.Manager_Email }}",
        "subject": "=Permohonan Cuti  {{ $('Validasi Cuti').item.json['Jenis Cuti'] }}",
        "message": "=<p>Halo Manager,</p>\n\n<p>Ada pengajuan cuti baru yang membutuhkan persetujuan Anda:</p>\n\n<ul>\n  <li><strong>Nama:</strong> {{ $('Validasi Cuti').item.json.Nama_Lengkap }}</li>\n  <li><strong>Email:</strong> {{ $('Validasi Cuti').item.json['Email'] }}</li>\n  <li><strong>Tanggal:</strong> {{ $('Validasi Cuti').item.json['Tanggal Mulai'] }} s.d {{ $('Validasi Cuti').item.json['Tanggal Selesai'] }}</li>\n  <li><strong>Total Durasi:</strong> {{ $('Validasi Cuti').item.json.durationRequested }} Hari</li>\n  <li><strong>Alasan:</strong> {{ $('Validasi Cuti').item.json['Keterangan '] }}</li>\n</ul>\n\n<p>Silakan klik keputusan Anda:</p>\n\n<p>\n  <a href=\"https://n8n-5x1f24yc5hc3.jkt1.sumopod.my.id/webhook/approval-handler?status=approved&email={{ $('Validasi Cuti').item.json['Email'] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; margin-right: 15px; display: inline-block;\">\n     ✅ SETUJUI\n  </a>\n\n  <a href=\"https://n8n-5x1f24yc5hc3.jkt1.sumopod.my.id/webhook/approval-handler?status=rejected&email={{ $('Validasi Cuti').item.json['Email'] }}&days={{ $('Validasi Cuti').item.json.durationRequested }}&id={{ $('Validasi Cuti').item.json.requestId }}\" \n     style=\"background-color: #f44336; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;\">\n     ✖️ TOLAK\n  </a>\n</p>\n\n<p><small>Link ini menggunakan environment TEST. Pastikan workflow \"Approval Handler\" aktif saat diklik.</small></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        192,
        -48
      ],
      "id": "6b93c1ce-8eab-4718-8700-53e241beed1b",
      "name": "Email ke Manager",
      "webhookId": "139fcff0-dea9-45ef-89c8-947f67adb0b9",
      "credentials": {
        "gmailOAuth2": {
          "id": "ETjmPCYwvUC3aW8I",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Formulir Pengajuan Cuti": {
      "main": [
        [
          {
            "node": "Cuti Karyawan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti Karyawan": {
      "main": [
        [
          {
            "node": "Validasi Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Cuti": {
      "main": [
        [
          {
            "node": "Update sheet log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update sheet log": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Email ke Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email cuti tidak cukup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9b32979-19b6-40c6-bda2-7c629a89acf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68c6ad0c867959f12144723834da81669c2c952ed778c056b9a5774d2ea03b97"
  },
  "id": "YyN9igPXfGyjEXuP",
  "tags": []
}